{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/options.css') }}">
{% endblock %}

{% block body %}

<div id="welcome-content">
    <h2 class="descriptive-text">Welcome! Please select your user status</h2>

    <div class="flex-h">
        <div class="box-option">
            <a class="option-text" href="{{url_for('userUploadASIMS')}}" >User</a>
        </div>

        <div class="box-option">
            <a class="option-text" href="{{url_for('superUploadASIMS')}}" >Supervisor</a>
        </div>

    </div>
    
</div>
{% endblock %}
